.search-form-input {
  background-color: rgba(227, 232, 228, 0.7);
  border: none;
  color: rgb(33, 33, 33);
  font-size: 16px;
  padding: 20px;
  margin: 5px;
  width: 100%;
  border-radius: 6px;
}

.search-button {
  font-size: 16px;
  background-color: rgba(84, 65, 109, 0.6);
  color: #f3f7fc;
  border: none;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(43, 35, 90, 0.6);
  color: #f3f7fc;
}

.location h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 16px auto;
}

.weather-description {
  text-transform: capitalize;
}

.location,
.date-info,
.weather-description,
.weather-highlights {
  color: #f3f7fc;
  font-weight: 900;
  font-size: 18px;
}

.temperature {
  font-weight: bold;
  color: #f3f7fc;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.temperature-units {
  color: #f3f7fc;
  font-size: 18px;
}

.temperature-units button {
  color: #f3f7fc;
  border: none;
  background-color: transparent;
}

.temperature-units button:hover {
  color: #f3f7fc;
}
